<div class="mobile-menu">

  <div class="mobile-content">

    <div class="mobile-header">

      <div class="logo">
        <a href="/">
          <p class="p">Antara home page</p>
          <svg class="icon">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
      </div>

      <div class="back">
        <span>Back</span>
        <svg class="icon">
          <use xlink:href="#arrow-back"></use>
        </svg>
      </div>

    </div>

    <ul class="menu">
      <li class="menu-item">
        <div class="p">01.</div>
        <a class="menu-link is-active" href="/">
          <span>Home</span>
        </a>
      </li>
      <li class="menu-item">
        <div class="p">02.</div>
        <a class="menu-link " href="/work">
          <span>Work</span>
        </a>
      </li>
      <li class="menu-item">
        <div class="p">03.</div>
        <a class="menu-link " href="/services">
          <span>Services</span>
        </a>
      </li>
      <li class="menu-item">
        <div class="p">04.</div>
        <a class="menu-link " href="/about">
          <span>About</span>
        </a>
      </li>
      <li class="menu-item">
        <div class="p">05.</div>
        <a class="menu-link " href="/contact">
          <span>Contact</span>
        </a>
      </li>

    </ul>

    <a class="menu-link circle" href="mailto:{{data.config.info.email}}">Get in touch</a>

  </div>
</div>

<div class="header-fixed header" data-element="fixed">
  <ul class="menu">
    <li class="menu-item">
      <a class="menu-link -hvr" href="/work/">Work</a>
    </li>
    <li class="menu-item">
      <a class="menu-link -hvr" href="/services/">Services</a>
    </li>
    <li class="menu-item">
      <a class="menu-link -hvr" href="/about/">About</a>
    </li>
    <li class="menu-item">
      <a class="menu-link -hvr" href="/contact/">Contact</a>
    </li>

  </ul>

</div>

<header class="s header" data-smooth-item="data-smooth-item">

  <div class="logo">
    <a href="/" rel="prefetch">
      <p class="p">Antara home page</p>
      <svg class="icon">
        <use xlink:href="#logo"></use>
      </svg>
    </a>
  </div>

  <ul class="menu">
    <li class="menu-item">
      <a class="menu-link -hvr" rel="prefetch" href="/work/">Work</a>
    </li>
    <li class="menu-item">
      <a class="menu-link -hvr" rel="prefetch" href="/services/">Services</a>
    </li>
    <li class="menu-item">
      <a class="menu-link -hvr" rel="prefetch" href="/about/">About</a>
    </li>
    <li class="menu-item">
      <a class="menu-link -hvr" rel="prefetch" href="/contact/">Contact</a>
    </li>
    <li class="menu-item circle">
      <a class="menu-link" href="mailto:{{data.config.info.email}}">Get in touch</a>
    </li>
  </ul>

  <ul class="open-menu">
    <li class="menu-item circle">
      <div class="menu-link">Menu</div>
    </li>
  </ul>

</header>