.pleft {
  padding-left: tovw(100, $desktop);
}

.pright {
  padding-left: tovw(100, $desktop);
}

.pd1 {
  padding-left: col(1);
}

.pd2 {
  padding-left: col(2);
}

.pd3 {
  padding-left: col(3);
}

.pd4 {
  padding-left: col(4);
}

.pd5 {
  padding-left: col(5);
}

.pd6 {
  padding-left: col(6);
}

.pd7 {
  padding-left: col(7);
}

.pd8 {
  padding-left: col(8);
}

.pd9 {
  padding-left: col(9);
}

.pd10 {
  padding-left: col(10);
}

.pd11 {
  padding-left: col(11);
}

.pd12 {
  padding-left: col(12);
}
