.split {
  margin-bottom: $m100;

  @include media-query('b-l-up') {
    margin-bottom: $m200;
  }

  .split-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;

    @include media-query('b-m-up') {
      flex-direction: row;
    }

    @include media-query('b-l-up') {
      padding-left: col(2);
      padding-right: col(2);
    }
  }

  .split-col {
    position: relative;
    width: 100%;

    @include media-query('b-m-up') {
      width: 50%;
    }

    &:last-child {
      padding-left: col(2);
      padding-right: col(5.5);
      margin-bottom: $m40;
      width: 90%;

      @include media-query('b-m-up') {
        padding-left: col(3);
        padding-right: 0;
        width: 50%;
      }

      @include media-query('b-l-up') {
        padding-left: col(3);
        padding-right: 0;
      }
    }
  }

  .split-clip {
    clip-path: url(#window);
  }

  .split-title {
    margin-bottom: $m30;
    @include media-query('b-l-up') {
      margin-bottom: $m40;
    }
  }

  .split-subtitle {
    margin-bottom: $m20;
  }

  .border {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;

    @include media-query('b-m-up') {
      display: none;
    }
  }

  .full {
    position: relative;
    transform-origin: bottom right;
    z-index: 1;
  }

  .p {
    margin-bottom: $m20;
    padding-right: col(4);

    &:first-of-type {
      margin-bottom: $m40;
      @include media-query('b-l-up') {
        margin-bottom: $m60;
      }
    }

    @include media-query('b-l-up') {
      margin-bottom: $m40;
    }
  }

  .p1 {
    text-transform: uppercase;
  }

  .p3 {
    margin-bottom: $m40;
  }

  .-m0 {
    margin-bottom: 0;

    & + .p1 {
      display: inline-block;
      margin-bottom: $m20;
    }
  }

  &.-reverse {
    .split-content {
      @include media-query('b-m-up') {
        flex-direction: row-reverse;
      }
    }

    .split-col {
      &:first-child {
        @include media-query('b-m-up') {
          padding-left: col(3);
        }
      }

      &:last-child {
        padding-left: 0;
        padding-right: 0;

        @include media-query('b-s') {
          width: 100%;
        }
      }
    }
  }
}

.is-home {
  .split-title {
    .word-0 {
      &:first-child {
        display: block !important;

        &::after {
          content: '';
        }
      }
    }
  }
}
